body {
    font-family: sans-serif;
    font-size: 2rem;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5.625em;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}